h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightblue;
    text-shadow: lightcyan 1px 0 10px;
	text-align: justify;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: lightblue;
}

form {
	margin-top: 1cm;
	text-align: justify;
}

button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	margin-left: 5px;
}

button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
button:active {
	position:relative;
	top:1px;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    background-color: lightcyan;
}

body {
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.listH2{
	/* text-align: center; */
	width:1000px; 
	float:right; 
	clear:right; 
	margin-top: -645px; 
}

.btnList{
	width:100px;
	margin-right: 925px;
	float:right; 
	clear:right; 
	margin-top: -600px; 
}

.badgeofHonour{
	text-align: center;
}

#outletShowList{
	margin-right: 760px;
	float:right; 
	clear:right; 
	margin-top: -550px;
	background-color: #0b0e07;
	border-color: #ffffff;
	border-style: solid;
}

#outletShowList p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: left;
	display: list-item;
	list-style-position: inside;
	padding-right: 10px;
	padding-left: 10px;
	color: #ffffff;
}

#linkTest{
	color: aqua;
}