h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightblue;
    text-shadow: lightcyan 1px 0 10px;
	text-align: justify;
}

body {
    background-color: rgb(51, 51, 51);
    text-align: center;
}